.textContainer {
  color: white;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  margin-left: 100px;
}

#activePeopleCard {
  min-width: 800px;
  position: fixed;
  right: 0;
  top: 20;
}

#peoplePresentTile {
  background-color: #4a5c62;
  background-image: linear-gradient(
    to right bottom,
    #273235,
    #2d393c,
    #333f43,
    #39464a,
    #3f4d51
  );
  background-image: linear-gradient(
    to top,
    #273235,
    #2d393c,
    #333f43,
    #39464a,
    #3f4d51
  );
  background-image: linear-gradient(
    to top,
    #273235,
    #2a3539,
    #2d393c,
    #303c40,
    #334044
  );
  background-image: linear-gradient(
    to top,
    #273235,
    #2a3539,
    #2d393c,
    #303c40,
    #334044
  );
  border-color: #242d30 #3f4d51 #3f4d51 #242d30;
  border-radius: 0.5em;
  border-width: 0.09em;
  color: #dddddd;
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 1em;
  margin-top: 0;
  padding: 0.5em;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  width: fit-content;
  width: 100%;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
