.message-box {
  background: rgb(243, 243, 243);
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 5px 20px;
  max-width: 80%;
}

.message-text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.message-text img {
  vertical-align: middle;
}

.message-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
  padding: 0 5%;
}

.sent-text {
  align-items: center;
  color: rgb(200, 200, 200);
  display: flex;
  font-family: Helvetica;
  letter-spacing: 0.3px;
  margin-top: auto;
  margin-bottom: auto;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.color-white {
  color: rgb(255, 255, 255);
}

.color-dark {
  color: rgb(53, 53, 53);
}

.background-blue {
  background: rgb(41, 121, 255);
}

.background-light {
  background: rgb(243, 243, 243);
}

.messages-list::-webkit-scrollbar {
  width: 1em;
}

.messages-list::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);
}

.messages-list::-webkit-scrollbar-thumb {
  background-color: rgb(74, 92, 98);
  border-color: rgb(36, 45, 48) rgb(63, 77, 81) rgb(63, 77, 81) rgb(36, 45, 48);
}

.messages-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(98, 122, 130);
}

.messages-list::-webkit-scrollbar-thumb:active {
  background-color: rgb(30, 39, 42);
}

#own-message {
  background-image: linear-gradient(
    to left top,
    rgb(60, 74, 77),
    rgb(73, 89, 93),
    rgb(87, 104, 109),
    rgb(102, 120, 127),
    rgb(117, 136, 144)
  );
  text-align: center;
  vertical-align: middle;
}

#others-message {
  background-image: linear-gradient(
    to left top,
    rgb(149, 168, 172),
    rgb(121, 144, 150),
    rgb(136, 154, 160),
    rgb(156, 170, 176),
    rgb(173, 184, 189)
  );
}

.message-text {
  margin-bottom: 0;
}
