body {
  background-attachment: fixed;
  background-image: linear-gradient(
    to left top,
    rgb(60, 74, 77),
    rgb(73, 89, 93),
    rgb(87, 104, 109),
    rgb(102, 120, 127),
    rgb(117, 136, 144)
  );
}

/* Available Chat Rooms card */
.card {
  background-image: linear-gradient(
    to left top,
    rgb(39, 49, 52),
    rgb(45, 56, 59),
    rgb(51, 63, 67),
    rgb(58, 70, 74),
    rgb(64, 77, 82)
  );
  border-color: rgb(0, 0, 0);
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.05em;
  box-shadow: 0.2em 0.2em 0.2em rgb(51, 51, 51);
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  max-height: fit-content;
  padding: 1em;
  text-align: center;
  width: 100%;
  width: fit-content;
}

/* Container that holds the div containing room tiles */
.list-group {
  width: 100%;
}

/* Title of all cards */
.card-header {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(221, 221, 221);
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.2;
  margin-bottom: 1em;
  padding-top: 0;
  text-transform: uppercase;
  width: 100%;
}

/* Room tile */
.activeItem {
  background-color: rgb(74, 92, 98);
  border-color: rgb(112, 139, 151) rgb(36, 45, 48) rgb(36, 45, 48)
    rgb(98, 122, 132);
  border-radius: 0.5em;
  border-width: 0.09em;
  color: rgb(221, 221, 221);
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 1em;
  margin-top: 0;
  padding: 0.5em;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  width: 40%;
}

.active-item:hover {
  background-color: rgb(98, 122, 130);
}

.active-item:active {
  background-color: rgb(30, 39, 42);
}

/* Direct parent div of room tiles */
.active-container {
  margin-bottom: 1em;
}

/* Direct parent of active container */
#holder {
  max-height: fit-content;
}

#room-tiles {
  background-color: rgb(74, 92, 98);
  border-color: rgb(112, 139, 151) rgb(36, 45, 48) rgb(36, 45, 48)
    rgb(98, 122, 132);
  border-radius: 0.5em;
  border-width: 0.09em;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(221, 221, 221);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 1em;
  margin-top: 0;
  padding: 0.5em;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  width: 40%;
}

#room-tiles:hover {
  background-color: rgb(98, 122, 130);
}

#room-tiles:active {
  background-color: rgb(30, 39, 42);
}
